## Organizing roles and group variables ##

---

########################################################

# 1. Prioritise roles #
- name: Server Configs
  hosts: all
  roles:

    - role: ../roles/user_config
    - role: ../roles/manage_packages
    - role: ../roles/install_deps
    - role: ../roles/gitlab_runner
    - role: ../roles/ssh_config
    - role: ../roles/fail2ban
    - role: ../roles/firewall

########################################################

# 2. Assigning variables to all roles #
  vars:
    - vars: ./group_vars/all.yml

########################################################
